.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  
}
.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}
.InputElement {
  outline: none;
  border: 1px solid #ccc;
  font: inherit;
  padding: 6px 8px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.InputElement:focus {
  outline: none;
  border: 1px solid #ccc;
}
.Invalid{
    border:  1px solid rgb(219, 162, 57);
    background-color:salmon;
}